extends base

block content
    .error-container

        h1 Página não encontrada
        p.message A página que você está procurando não existe. Verifique o endereço e tente novamente.
        .link
            <i class="bi bi-emoji-frown"></i>
            a(href="/") Voltar para a página inicial