if !funcionario
    footer.footer 
        .container.header__logo
            a(href='/')
                img(src='/images/logo-oficial-sem-fundo.png' alt='Logo')
        .container
            .title-container
                h5 Siga-nos nas redes sociais 
                .social--media
                    
                    if funcionarios && funcionarios.length
                        each funcionario in funcionarios
                            if funcionario.instagram
                                a(href=`https://www.instagram.com/${funcionario.instagram}` target='_blank')
                                    i.bi.bi-instagram
                                    span @#{funcionario.instagram}                       



.container-footer
    p © 2024 todos os direitos reservados. Meta Saúde Integrada
    p Sistema desenvolvido por 
        a(href="https://github.com/meiotera", target="_blank", rel="noopener noreferrer") Renan Ferreira da Costa