section.nova-agenda 
    h2.title-section Nova Agenda   

    form#nova-agenda-form
        input#id_funcionario(type="hidden" name="id_funcionario" value=funcionario.id) 
        .btns
            button.btn.btn-add-dia(type='button') Adicionar dia
