section.sobre 
    .container
        h2.title-section Quem somos
        p O Espaço Clínico Meta Saúde Integrada surgiu do desejo de desenvolver um ambiente que pudesse ser referência no acolhimento e acompanhamento de crianças, adolescentes, adultos e idosos que buscam qualidade nos serviços de saúde e educação, com foco na evolução e nos resultados. Foi então que em 2024, Viviane Costa e Augusto Freire,  resolveram dar vida a esse sonho e inauguraram a tão sonhada Meta Saúde Integrada.
    .container 
        h2.title-section Nossos valores
        ul
            li Acolhimento

            li Afeto

            li Empatia

            li Confiança

            li Dedicação

            li Respeito

