section.sobre 
    h2.title-section Quem somos
    div.sobre-conteudo
        div 
            img(src='/images/vivianeAugusto.jpeg' alt='Viviane e Augusto' loading='lazy')
        div
            p O Espaço Clínico Meta Saúde Integrada surgiu do desejo de desenvolver um ambiente que pudesse ser referência no acolhimento e acompanhamento de crianças, adolescentes, adultos e idosos que buscam qualidade nos serviços de saúde e educação, com foco na evolução e nos resultados. Foi então que em 2024, Viviane Costa e Augusto Negreiros,  resolveram dar vida a esse sonho e inauguraram a tão sonhada Meta Saúde Integrada.

            div.valores
                //- h2.title-section Nossos valores

                div 
                    i.bi.bi-person-hearts 
                    p Acolhimento 
                div
                    i.bi.bi-heart-fill 
                    p Afeto 
                div
                    i.bi.bi-chat-dots 
                    p Empatia 
                div
                    i.bi.bi-shield-lock-fill 
                    p Confiança 
                div
                    i.bi.bi-award-fill 
                    p Dedicação 
                div
                    i.bi.bi-heart 
                    p Respeito

