section.sobre 
    h2.title-section Quem somos
    div.sobre-conteudo
        div 
            img(src='/images/espacometa.jpg' alt='Espaço meta clínica')
        div
            p O Espaço Clínico Meta Saúde Integrada surgiu do desejo de desenvolver um ambiente que pudesse ser referência no acolhimento e acompanhamento de crianças, adolescentes, adultos e idosos que buscam qualidade nos serviços de saúde e educação, com foco na evolução e nos resultados. Foi então que em 2024, Viviane Costa e Augusto Freire,  resolveram dar vida a esse sonho e inauguraram a tão sonhada Meta Saúde Integrada.

            div.valores
                h2.title-section Nossos valores
                ul
                    li 
                        i.bi.bi-person-hearts Acolhimento 
                    li 
                        i.bi.bi-heart-fill Afeto 
                    li 
                        i.bi.bi-chat-dots Empatia 
                    li 
                        i.bi.bi-shield-lock-fill Confiança 
                    li 
                        i.bi.bi-award-fill Dedicação 
                    li 
                        i.bi.bi-heart Respeito

