
doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")   

        meta(name="description" content="A Meta Saúde Integrada oferece serviços de saúde para adultos e crianças em Mossoró. Confira nossos serviços de terapia, consultas médicas e mais!")

        meta(name="keywords" content="Clínica de Saúde Integrada, Fisioterapia, Psicologia, Psicopedagogia, Psicanálise, Saúde mental, Agendamento de consultas, Terapias, Mossoró")

        meta(property="og:title" content="Meta Saúde Integrada - Clínica de Saúde em Mossoró")
        meta(property="og:description" content="Oferecemos serviços de saúde para adultos e crianças com profissionais especializados.")
        meta(property="og:type" content="website")

        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap")
        link(rel="stylesheet" href="style.css")
        meta(name="csrf-token" content=csrfToken)

        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")
        link(rel="icon" type="image/png" href="/images/favicon.ico")

    title Meta Clínica Integrada
    body
        //- Header
        include _header

        //- Main content
        main
            block content

        //- Footer
        include _footer

    script(type='module' src="/js/bundled/bundle.js")
