extends base
block content 

    section.hero
        h1.title-section Meta Saúde Integrada
        p A Meta Saúde Integrada é uma clínica de saúde que oferece atendimento em diversas especialidades. Aqui você encontra profissionais qualificados para cuidar da sua saúde. Agende sua consulta conosco e venha conhecer nossa equipe.
        
        

    include _section_sobre
    include _section_equipe
    include _section_mapa
